@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
 /* .pagination {
    display: flex;
    flex-direction: 'row';
    justify-content: 'center';
    align-items: 'center';
    padding: 8 0;
    background-color: 'transparent';
} */

/* .pagination__link {
    justify-content: 'center';
    align-items: 'center';
    width: 40;
    height: 40;
    margin: 0 4;
    background-color: 'gray',
}

.pagination__link:hover {
    background-color: #f5f5f5;
    
}

.pagination__number {
    border-radius: 50%;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
}


.pagination__number:hover {
    background-color: #f5f5f5;
}

.pagination__link--active {
    background-color: #22c55d;
    width: 50;
    height: 50;
}
.pagination__number--active {
    color: #fff;
}  */